
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
    height: 110vh;
}
.introdução{
    max-width: 1200px;
    margin: 0 auto;
}
.logo img{
    border: 0;
    border-radius: 150px;
}
.flex{
    display: flex;
}
/**INICIO DO HEADER**/ 

header{
    padding: 50px 5%;
}
header > .introdução{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #858484;
    text-decoration: none;
    font-size: larger;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: 0.3s;
    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .contato button{
    padding: 10px 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 600;
    border: 0;
    border-radius: 13px;
    background-color: lime;

}
header .contato button:hover{
    box-shadow: 0px 0px 8px aliceblue;
    background-color: #fff;
    transform: scale(1.0);
    transition: 0.3s;
}
/**SEGUNDA SEÇÃO DO HTML E CSS **/

section.topo_do_site{
    padding: 80px 5%;
}

section.topo_do_site .flex{ 
    align-items: center;
    justify-content: center;
    gap: 80px;
    
}
.topo_do_site  h4{
    color: white;
    font-size: small;
    padding: 10px 0px;
    text-align: justify;
    

}
.topo_do_site  h1{
    color: white;
    font-size: x-large;
    padding: 10px 0px;
    text-align: justify;

}
.topo_do_site  p{
    color: white;
    font-size: medium;
    padding: 10px 0px;
    text-align: justify;

}
section.topo_do_site .flex .border{
    display: flex;
    background-color: lime;
    padding: 60px 2px;
    border: none;
    border-radius: 13px;
}


section.topo_do_site .flex .fotominha img{
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.border{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaapp{
    padding: 5px 1px;
}
.listaapp nav ul{
    display: flex;
    list-style-type: none;
}
.listaapp nav ul li{
    margin-right: 0px;
}